*{
    padding: 0;
    margin: 0;
   
}
body{
   background-image: url("../images/cool-wallpaper-preview-18.jpg");
    background-size: cover;
}
h1{
    text-align: center;
    
    padding: 10px;
    background-color:rgba(0, 0, 0, .1) ;
}
h3{
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.form{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#demo{
    padding: 20px;
}
a:hover{
    color:black;
    background-color:white;
}
.myMargin{
    margin: 25px;
    padding: 50px;
    margin-top: 4em;
    position:fixed;
    left: 30%;
    width: 500px;   
}
